@charset "UTF-8"; /* tells browser how to interpret the css styling */




.Project_Card{ /* Because Project_Card is a CLASS not an ID (like the wrapper) its uses a '.' to be called in CSS*/
  
  background-color: #8E8241;
  border: 1px solid #3d6680;
  border-radius: 30px; /* Rounds the corners of the projects */
  padding: 20px; /* increases the size of each project box */
  margin-bottom: 1%;
  font-size: larger;
}


body {
    background-color: #3A485E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*different fonts to be used if the first one fails */
    color: #F4F1E6;
}

#wrapper {
    width: 960px;
    height: auto;    
    margin: 20px auto;
    padding: 5%;
    background-color: #24445A;
}

header {
    background-color: #54511F;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 4px solid #8E8241;
}

main {
    background-color: #3A485E;
    font-size: larger;
    padding: 20px;
    min-width: 68%;
    float: left;   
}

.Main_home{
    box-sizing: border-box; 
    max-width: 68%;
    font-size: xx-large;
    text-align: center;
}

aside {
    box-sizing: border-box; 
    background-color: #8E8241;
    color: #1d1b0a; 
    font-size: large;
    text-align: center;
    padding: 20px;
    width: 30%;
    float: right;
    margin-bottom: 1%;
}


nav{
    background-color: #54511F;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}

a{
    color:#F4F1E6; /* changes the color of  a link */
}

a:hover{
    color: black; /* when hovering over a link*/
}

a:visited{ /*after you vist a link */
    color: darkgray;
}

footer {
    clear: both; /* keeps footer below the floated columns */
    background-color: #54511F;
    font-size: larger;
    padding: 10px;
    text-align: center; /*keeps the text of the footer in the center*/
}