@charset "UTF-8"; /* tells browser how to interpret the css styling */


section { /* on the project page all the projects are kept in a section tag*/
  padding: 40px 20px;
}

.card{/* This applies to each indivisiual project on the projects page */
    /* Because card is a CLASS not an ID (like the wrapper) its uses a '.' to be called in CSS*/
  
  background-color: #8E8241;
  border: 1px solid #3d6680;
  border-radius: 30px; /* Rounds the corners of the projects */
  padding: 20px; /* increases the size of each project box */

}



body {
    box-sizing: border-box;  /* while working on the style sheet boxes kept changing position so I went on reddit for a soloution, I found a property called box sizing which in short makes it so if two elements have the same width and height and differnt amounts of padding there sizes will turn out the exact same*/
    background-color: #3A485E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*different fonts to be used if the first one fails */
    color: #F4F1E6;
    line-height: 1.6; /* Line height determines the size inbetween lines for div elements I saw online 1.6 is the standard*/
}

#wrapper {
    box-sizing: border-box; 
    width: 960px;
    min-height: 800px; 
    margin: 20px auto;
    padding: 10px;
    background-color: #24445A;
    max-width: auto; /* stops the wrapper from overflowing*/
}

header {
    box-sizing: border-box; 
    background-color: #54511F;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 4px solid #8E8241;
}

main {
    box-sizing: border-box; 
    background-color: #3A485E;
    font-size: larger;
    padding: 20px;
    width: 68%;
    float: left;
    
    
}

aside {
    box-sizing: border-box; 
    background-color: #8E8241;
    color: #1d1b0a; 
    font-size: larger;
    padding: 20px;
    width: 30%;
    float: right;
}


nav{
    box-sizing: border-box;
    background-color: #54511F;
    padding: 20px;
    margin-top: 10px;
    text-align: center;

}

footer {
    clear: both; /* keeps footer below the floated columns */
    background-color: #54511F;
    font-size: larger;
    padding: 10px;
    margin-top: 10px;
    text-align: center; /*keeps the text of the footer in the center*/
}